@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(179, 223, 231) 50%, rgb(56, 162, 194) 50%);
    background-size: cover;
}
.container{
    width: 100%;
    max-width: 650px;
    background: #fff;
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    /* box-shadow: 2px 2px 2px black; */
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
}

.form-title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    border-bottom: solid 1px black;
    color: black;
    text-shadow: 2px 2px 2px rgb(128, 120, 120);
}

.main-user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.user-input-box:nth-child(2n){
    justify-content: end;
}

.user-input-box label, .gender-title{
    width: 95%;
    font-weight: 600;
    margin: 5px 0;
}

.gender-title{
    font-size: 16px;
}

.user-input-box input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: solid 1px black;
    outline: none;
}
.user-input-box input{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.gender-category label{
    padding: 0 20px 0 5px;
    font-size: 14px;
}

.gender-category label, .gender-category input{
    cursor: pointer;
}

.form-submit-btn{
    margin: 15px 0;
    
}

.form-submit-btn input{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    /* background: linear-gradient(to right, rgb(0, 208, 255),blue); */
    background-color: rgb(56, 162, 194);
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
}

.form-submit-btn input:hover{
    background: linear-gradient(to right, rgb(9, 183, 214) , rgb(179, 223, 231));
}

p{
    color: red;
}